.dashboard-page {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98%;
    margin-left: 10px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: larger;
        font-weight: bold;
    }

    .analytics-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .analytics-item {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }

        p {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .charts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h2 {
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }
    }

    .chart-card {
        margin-top: 20px;
        background-color: rgb(247, 235, 235);
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 49%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        #analytics-curve {
            width: 600px !important;
            height: 400px !important;
        }

        canvas {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        .analytics-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 10px;
        }

        .analytics-item {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            h2 {
                margin-bottom: 10px;
                font-weight: bold;
                color: #333;
            }

            p {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .city-location {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            max-width: 800px;

            h2 {
                margin-bottom: 10px;
                font-weight: bold;
                color: #333;
            }

            .analytics-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                padding: 10px 0;

                .location-info {
                    flex: 1;

                    h2 {
                        font-size: 1.2em;
                        color: #666;
                        margin: 0;
                    }
                }

                .percentage {
                    font-size: 1.5em;
                    font-weight: bold;
                    color: #555;
                }
            }
            
        }
        .upcoming-events {
            margin-top: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
    
            h2 {
                margin-bottom: 20px;
                font-size: larger;
                font-weight: bold;
                color: #333;
            }
    
            .event-list {
                .event-item {
                    background-color: #ffe0b2;
                    padding: 15px;
                    margin-bottom: 15px;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
                    h3 {
                        margin-bottom: 10px;
                        color: #333;
                        font-weight: bold;
                    }
    
                    p {
                        margin: 5px 0;
                        color: #555;
                        .clock-icon {
                            float: right; /* Align the icon to the right */
                            margin-left: 10px; /* Add some space between the text and the icon */
                            margin-top: 2px; /* Adjust vertical alignment if needed */
                        }
                        
                    }
                    
                    
                }
            }
        }
    }
}
