.order-history-page {
  display: flex;
  justify-content: center;
  align-items: center;
  
 

  .order-history-panel {
    width: 96%;
    max-width: 1200px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    .order-history {
      h2 {
        color: #333;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
      }

      .order-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
      }

      .order-card {
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        padding: 35px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s, transform 0.3s;
        min-width:350px;
        &:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          transform: translateY(-5px);
        }

        .cnfrm-btn,
        .reject-btn {
          position: absolute;
          bottom: 10px;
          padding: 8px 16px;
          border-radius: 5px;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          transition: background-color 0.3s;
          cursor: pointer;
        }

        .cnfrm-btn {
          right: 110px;
          background-color: #34c759;

          &:hover {
            background-color: #28a745;
          }
        }

        .reject-btn {
          right: 20px;
          background-color: #dc3545;

          &:hover {
            background-color: #c82333;
          }
        }

        .view-btn {
          position: absolute;
          top: 5px;
          right: 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 8px 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3;
          }
        }

        .order-info {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          align-items: flex-start;
          .date{
            background-color: #ffffcc; /* Light shade of yellow */
           border-radius: 4px; /* Rounded corners */
            padding: 2px 4px; /* Add some padding */
          }
          .time{
            background-color: #ffffcc; /* Light shade of yellow */
            border-radius: 4px; /* Rounded corners */
            padding: 2px 4px; /* Add some padding */
          }
        }

        .hall-image {
          flex: 0 0 180px;
          margin-right: 20px;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .info-wrapper {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .status {
          position: absolute;
          top: 5px;
          left: 10px;
          font-weight: bold;
          padding: 4px 12px;
          border-radius: 20px;
          color: #fff;
          display: flex;
          align-items: center;
          font-size: 14px;

          &.confirmed {
            background-color: #34c759;
          }

          &.pending {
            background-color: #ffc107;
            color: #333;
          }

          &.rejected {
            background-color: #dc3545;
          }

          &.onhold {
            background-color: #6c757d;
          }

          .status-icon {
            font-size: 16px;
            margin-right: 5px;
          }
          .status-text {
            font-size: 1rem;
          }
        }
      }
    }
  }
}