.order-history-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    .order-history-panel {
        position: relative; // Add this line
        width: 90%;
        padding: 20px;
        background-color: #d7e3e3;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
      .order-history {
        h2 {
          color: #333;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        
        
      }
  
      .order-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
  
      .order-card {
        position: relative; /* Make the container for positioning */
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s, transform 0.3s;
  
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          transform: translateY(-5px);
        }
        .cnfrm-btn{
          position: absolute; 
          background-color: #FF7F50;
          color: #fff;
          border: none;
          padding: 5px 10px;
          border-radius: 3px;
          transition: background-color 0.3s;
          right: 20px;
          bottom:10px;
            &:hover {
              background-color: #f86d3b;
            }
        }
        .reject-btn{
          position: absolute; 
          background-color: red;
          color: #fff;
          border: none;
          padding: 5px 10px;
          border-radius: 3px;
          transition: background-color 0.3s;
          right: 105px;
          bottom:10px;
            &:hover {
              background-color: #6f2003;
            }
        }
        .view-btn {
            position: absolute; /* Position the button */
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover {
              background-color: #0056b3;
            }
          }
          .order-info {
            display: flex;
            flex-wrap: wrap; /* Allow items to wrap to the next line */
            gap: 20px;
            align-items: flex-start; /* Align items at the start of the flex container */
          }
        
          .hall-image {
            flex: 0 0 180px;
            margin-right: 20px;
            border-radius: 10px;
            overflow: hidden;
        
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        
          .info-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        
          .status {
            position: absolute;
            top: 10px;
            right: 20px;
            font-weight: bold;
            padding: 4px 8px;
            border-radius: 12px;
            color: #fff;
            display: flex;
            align-items: center;
        
            &.confirmed {
              background-color: #38b000;
            }
        
            &.pending {
              background-color: #ffeb3b;
              color: #333;
            }
        
            &.rejected {
              background-color: #f44336;
            }
            &.onhold {
              background-color: #ffc107;
             
            }
        
            .status-icon {
              font-size: 20px;
              margin-right: 5px;
            }
        
            .status-text {
              font-size: 1rem;
            }
          }
        }
      }
    }