

// .userProfilePage__container {
//     height: 100%;
//     background-color: #242121;

//     .rightPanel {
//         background-color: #242121;
//         top: 0;
//         right: 0;
//         width: 80rem;
//         position: absolute; // Position it relative to the .userProfilePage container
//         height: 100%; // Cover the entire height of the .userProfilePage container
//         overflow-y: auto; // Enable vertical scrolling if content overflows
//     }
// }

.userProfilePage__container{
    width: 100%;
    position: absolute;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: black;
  
    .rightPanel{
      position: relative;
      width: 76%;
      margin: 2rem 4rem;
      float: right;
    }
  
    :where(.css-dev-only-do-not-override-42nv3w).ant-drawer .ant-drawer-body {
          padding: 0;
        }
      
        .ant-drawer-close {
          position: absolute;
          right: 0;
          top: 1rem;
        }
      
        .anticon svg {
          color: white;
        }
  }
  @media (max-width: 1024px)
  {
    
  }
  @media (max-width: 768px) {

.userProfilePage__container{
    .leftPanel{
        display: none;
    }
    
    .rightPanel{
        position: relative;
        width: 90%;
        margin: 4rem 1rem;
        float: none;
      }
    }
  }