.AboutHall {
  /* background-color: #FFD085; */
  width: 60%;
  margin: 0 5rem;
  border-radius: 1rem;

  // Define styles for container
  .About-container {
    max-width: 1000px;
    margin: auto 0;
    padding: 2rem;

    // Define styles for headings
    h1 {
      font-weight: 800;
      font-size: 1.7rem;
    }
  }
}
