// Define styles for description component
.description {
  width: 70%;
  height: 700px;
  /* background-color: red; */
  margin: 3rem 0 0 0;

  // Define styles for slider
  .slider {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0.4, 0.4, 0.4, 0.4);

    // Define styles for slides
    .slide {
      width: 100%;
      max-width: 1200px;
      height: 500px;
      position: absolute;
      transition: all 0.5s;

      // Define styles for slide images
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    // Define styles for buttons
    .btn {
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 50%;
      z-index: 10px;
      cursor: pointer;
      background-color: #fff;
      font-size: 18px;

      &:active {
        transform: scale(1.1);
      }
    }

    // Define styles for previous button
    .btn-prev {
      top: 45%;
      left: 2%;
    }

    // Define styles for next button
    .btn-next {
      top: 45%;
      right: 2%;
    }
  }

  // Define styles for quick info
  .quickinfo {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 900px;
    z-index: 1;
    margin: 0 auto;
    top: -100px;
    border-radius: 1rem;
    padding: 1.5rem;

    // Define styles for headings
    h2 {
      font-size: 2rem;
      font-weight: 500;
    }

    // Define styles for location
    .location {
      display: flex; // Display as flex container
      align-items: center; // Align items vertically
      gap: 5px; // Add some space between icon and text

      // Define styles for link
      a {
        text-decoration: none;
        color: blue; // Inherit text color
        display: flex; // Display as flex container
        align-items: center; // Align items vertically
        gap: 10px;
      }
    }
  }
}
