*{
    margin: 0;
    padding: 0;
}

.main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #1A1A1A;
    color: #ffffff;
    font-size: 16px;

    .logo__wrapper {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;

        .logo{
            height: 4rem;
            width: 4rem;
            margin-left: 1.5rem;
        }

        p{
            margin-left: 0.5rem;
        }
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;

        .tag {
            margin: 1rem;
            position: relative;
            text-decoration: none;
            transition: all 0.3s ease-in;
            font-weight: 600;

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: -3px;
                left: 0;
                background-color: #ff8000;
                transition: width 0.3s ease;
            }

            &:hover::before {
                background-color: #ff8000;
                width: 70%;
            }

            &:hover {
                color: #ff8000;
            }
        }

        .button {
            background-color: #ff8000;
            color: #ffffff;
            height: 60%;
            margin: 1em;
            font-weight: 600;
            text-transform: capitalize;
            margin-right: 2rem;
            transition: all 0.3s ease-in;

            &:hover {
                background-color: rgb(214, 107, 0);
            }
        }
    }

}